{{> partials/mioide_sidebar.html}}
<div class="side-splitter" id="sidebarSplitter" title="Resize side panel" aria-hidden="true"></div>
<section class="main-stage" id="mioide-main-stage">
  {{> partials/mioide_editor_shell.html}}
  <div class="dock-splitter" id="dockSplitter" title="Resize bottom panel" aria-hidden="true"></div>
  {{> partials/mioide_bottom_panel.html}}
  {{> partials/mioide_status_bar.html}}
</section>
{{> partials/mioide_command_palette.html}}
{{> partials/mioide_float_windows.html}}
