<section class="space-y-6">
  {{#commandBar.main}}{{> partials/mioui_command_bar.html}}{{/commandBar.main}}
  <div class="grid gap-6 xl:grid-cols-[1.05fr_.95fr]">
    <div class="space-y-6">
      {{#filterDrawer.main}}{{> partials/mioui_advanced_filter_drawer.html}}{{/filterDrawer.main}}
      {{#inlineDiff.main}}{{> partials/mioui_inline_diff_card.html}}{{/inlineDiff.main}}
    </div>
    <div class="space-y-6">
      {{#toast.main}}{{> partials/mioui_toast_inline.html}}{{/toast.main}}
    </div>
  </div>
</section>
