<div class="space-y-4" data-miouicol-onboarding-guided-root>
  {{> partials/miouicol_top_tabs.html}}
  {{> partials/miouicol_hero_strip.html}}
  <div class="grid gap-4 xl:grid-cols-[19rem_minmax(0,1fr)_minmax(0,.95fr)]">
    <div class="space-y-4">
      {{> partials/miouicol_onboarding_summary.html}}
      {{> partials/miouicol_onboarding_journey.html}}
      {{> partials/miouicol_onboarding_checklist.html}}
    </div>
    <div class="space-y-4">
      {{> partials/miouicol_onboarding_stage_cards.html}}
      {{> partials/miouicol_onboarding_launch_panel.html}}
      {{> partials/miouicol_onboarding_rooms.html}}
    </div>
    <div class="space-y-4">
      {{> partials/miouicol_onboarding_invite_panel.html}}
      {{> partials/miouicol_connected_users_panel.html}}
    </div>
  </div>
</div>
