<section class="space-y-6">
  {{#pageHeader.main}}{{> partials/mioui_page_header.html}}{{/pageHeader.main}}
  {{#subnav.main}}{{> partials/mioui_shell_subnav.html}}{{/subnav.main}}
  <div class="grid gap-6 xl:grid-cols-[.96fr_1.04fr]">
    <div class="space-y-6">
      {{#savedViews.main}}{{> partials/mioui_saved_views_toolbar.html}}{{/savedViews.main}}
      {{#columnChooser.main}}{{> partials/mioui_column_chooser.html}}{{/columnChooser.main}}
      {{#activityFeed.main}}{{> partials/mioui_activity_feed.html}}{{/activityFeed.main}}
    </div>
    <div class="space-y-6">
      {{#splitPanel.main}}{{> partials/mioui_split_detail_panel.html}}{{/splitPanel.main}}
      {{#table.claims}}
      {{> partials/mioui_table_toolbar.html}}
      {{> partials/mioui_table.html}}
      {{/table.claims}}
    </div>
  </div>
</section>
