<div class="space-y-4" data-miouicol-chat-balanced-root>
  {{> partials/miouicol_top_tabs.html}}
  {{> partials/miouicol_hero_strip.html}}
  <div class="grid gap-4 xl:grid-cols-[minmax(0,1.2fr)_minmax(23rem,.95fr)]">
    <div class="space-y-4">
      {{> partials/miouicol_chat_header.html}}
      {{> partials/miouicol_chat_message_list.html}}
    </div>
    <div class="space-y-4">
      {{> partials/miouicol_chat_side_panels.html}}
      {{> partials/miouicol_chat_composer.html}}
    </div>
  </div>
</div>
