<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{page.title}}{{^page.title}}MIOMOS Desktop{{/page.title}}</title>
  <link rel="stylesheet" href="/public/miomos/7.scoped.css">
  <link rel="stylesheet" href="/public/miomos/xterm.css">
  <link rel="stylesheet" href="/public/miomos/miomos_shell.css">
  <script src="/public/miomos/vue.global.prod.js"></script>
  <script src="/public/miomos/xterm.js"></script>
</head>
<body>
  {{{content}}}
</body>
</html>
