<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mioos-style-architecture" content="tailwind-shell-native">
    <title>MIO-OS</title>
    <link rel="stylesheet" href="/public/mioos/7.scoped.css">
    <link rel="stylesheet" href="/public/mioos/xterm.css">
    <link rel="stylesheet" href="/public/mioos/mioos.css">
    <script src="/public/mioos/vue.global.prod.js"></script>
    <script src="/public/mioos/xterm.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            mode: "jit",
            darkMode: "class",
            theme: {
                extend: {
                    fontFamily: {
                        "segoe-ui": ["segoe-ui"]
                    },

                },
            }
        };
    </script>
</head>
{{{content}}}

</html>