@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "segoe-ui";
  src: url("/public/mioos/Fonts/Segoe UI.TTF");
}
button {
  font-size: 11px;
  box-sizing: border-box;
  border: 1px solid #003c74;
  background: linear-gradient(180deg, #fff, #ecebe5 86%, #d8d0c4);
  box-shadow: none;
  border-radius: 3px;
  padding: 1px 4px;
}
button:hover {
  box-shadow:
    2px 2px 1px orange inset,
    -2px -2px 1px orange inset;
}
button:active {
  box-shadow: none;
  background: linear-gradient(
    180deg,
    #cdcac3,
    #e3e3db 8%,
    #e5e5de 94%,
    #f2f2f1
  );
}
button:focus {
  outline: 1px dotted #000;
  outline-offset: -4px;
  box-shadow:
    inset -1px 1px #cee7ff,
    inset 1px 2px #98b8ea,
    inset -2px 2px #bcd4f6,
    inset 1px -1px #89ade4,
    inset 2px -2px #89ade4;
}

html {
  background-image: url("/public/mioos/assets/941898.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
* {
  font-family: "Pixelated MS Sans Serif", Arial;
  -webkit-font-smoothing: antialiased;
}

.text-shadow {
  text-shadow:
    1px 1px 1px #000000,
    -1px -1px 1px #000000,
    -1px 1px 1px #000000,
    -1px 1px 1px #000000;
}

[data-attr="rightclickmenu"] .selectarea {
  @apply hover:text-white hover:bg-[#316ac5] 
        pl-4 pr-1
        my-1
        font-thin
        font-segoe-ui
        tracking-tight
        leading-4;
}

[data-attr="rightclickmenu"] .rc-shadow {
  -webkit-box-shadow: 6px 6px 5px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 5px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 5px -4px rgba(0, 0, 0, 0.75);
}

[data-attr="window"] .title-bar {
  font-family: Trebuchet MS;
  background: linear-gradient(
    180deg,
    #0997ff,
    #0053ee 8%,
    #0050ee 40%,
    #06f 88%,
    #06f 93%,
    #005bff 95%,
    #003dd7 96%,
    #003dd7
  );
  padding: 3px 5px 3px 3px;
  border-top: 1px solid #0831d9;
  border-left: 1px solid #0831d9;
  border-right: 1px solid #001ea0;
  border-top-left-radius: 8px;
  border-top-right-radius: 7px;
  font-size: 13px;
  text-shadow: 1px 1px #0f1089;
  height: 32px;
  color: white;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
[data-attr="window"] .title-bar-text {
  font-weight: 700;
  color: #fff;
  letter-spacing: 0;
  margin-right: 24px;
  padding-left: 3px;
}
[data-attr="window"] .window {
  box-shadow:
    inset -1px -1px #00138c,
    inset 1px 1px #0831d9,
    inset -2px -2px #001ea0,
    inset 2px 2px #166aee,
    inset -3px -3px #003bda,
    inset 3px 3px #0855dd;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 0 0 3px;
  -webkit-font-smoothing: antialiased;
}

[data-attr="window"] .minimize {
  background-color: white;
  background-image: url("/public/mioos/assets/minimize.svg");
}
[data-attr="window"] .fullsize {
  background-color: white;
  background-image: url("/public/mioos/assets/fullsize.svg");
}
[data-attr="window"] .close {
  background-color: white;
  background-image: url("/public/mioos/assets/close.svg");
}


[data-attr="error"] .title-bar {
    font-family: Trebuchet MS;
    background: linear-gradient(180deg,#0997ff,#0053ee 8%,#0050ee 40%,#06f 88%,#06f 93%,#005bff 95%,#003dd7 96%,#003dd7);
    padding: 3px 5px 3px 3px;
    border-top: 1px solid #0831d9;
    border-left: 1px solid #0831d9;
    border-right: 1px solid #001ea0;
    border-top-left-radius: 8px;
    border-top-right-radius: 7px;
    font-size: 13px;
    text-shadow: 1px 1px #0f1089;
    height: 32px;
    color: white;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
[data-attr="error"] .title-bar-text {
    font-weight: 700;
    color: #fff;
    letter-spacing: 0;
    margin-right: 24px;
    padding-left: 3px ;
}
[data-attr="error"] .window {
    box-shadow: inset -1px -1px #00138c, inset 1px 1px #0831d9, inset -2px -2px #001ea0, inset 2px 2px #166aee, inset -3px -3px #003bda, inset 3px 3px #0855dd;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 0 0 3px;
    -webkit-font-smoothing: antialiased;
}

[data-attr="error"] .close{
    background-color: white;
    background-image: url("/public/mioos/assets/close.svg");
}
